@import url("./fonts/font-faces.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

html,
body,
#root {
  height: 100%;
}

svg {
  fill: currentColor;
}

@layer base {
  :root {
    /* 20rem - 64rem */
    --bigger-font-size: 0.96rem;
    --bigger-font-size: clamp(0.96rem, 0.4873rem + 2.3636vw, 2rem);
    --normal-font-size: 0.88rem;
    --normal-font-size: clamp(0.88rem, 0.6073rem + 1.3636vw, 1.48rem);
    --smaller-font-size: 0.7rem;
    --smaller-font-size: clamp(0.7rem, 0.48rem + 1.1vw, 1.184rem);

    --gap: 5px;
    --half-gap: calc(var(--gap) * 0.5);
    --radius: 20px;
    --bigger-radius: calc(var(--radius) * 1.5);
    --diameter: calc(var(--radius) * 2);
    --border-width: 2px;

    @media (min-width: 22.5em) {
      --radius: 30px;
      --border-width: 3px;
    }

    @media (min-width: 48em) {
      --gap: 10px;
      --radius: 40px;
      --border-width: 4px;
    }
  }
}

.light {
  --first: 73, 124, 141;
  --first-interactive: 92, 137, 153;
  --second: 173, 216, 230;
  --third: 240, 240, 240;
  --third-interactive: 224, 224, 224;
  --accent: 12, 12, 12;
  --placeholder: 170, 170, 170;

  --third-accent: var(--third);
  --third-first: var(--third);
  --third-second: var(--third);
  --second-third: var(--second);
  --first-accent: var(--first);
  --first-accent-interactive: var(--first-interactive);
  --accent-second: var(--accent);

  --first-date: var(--first);
}

.dark {
  --first: 12, 12, 12;
  --first-interactive: 24, 24, 24;
  --second: 70, 70, 70;
  --third: 90, 90, 90;
  --third-interactive: 102, 102, 102;
  --accent: 240, 240, 240;
  --accent-interactive: 224, 224, 224;
  --placeholder: 170, 170, 170;

  --date: 173, 216, 230;

  --third-accent: var(--accent);
  --third-first: var(--first);
  --third-second: var(--second);
  --second-third: var(--third);
  --first-accent: var(--accent);
  --first-accent-interactive: var(--accent-interactive);
  --accent-second: var(--second);

  --first-date: var(--date);
}

@layer components {
  .input {
    @apply outline-none min-w-0 w-0 p-[var(--gap)] rounded-[var(--gap)] border-[length:var(--border-width)] border-solid border-first bg-third text-accent text-[length:var(--normal-font-size)] placeholder:text-placeholder;
  }
}
